.contact-us-container ,.about-us-container {
  --background-color: rgb(245, 240, 240);
  --text-color: black;
  --elements-color: white;
  border: 2px solid rgb(220, 210, 210);
}
.contact-us-container .dark
,.about-us-container .dark {
  --background-color: #2c4760;
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
  border: 2px solid rgb(220, 210, 210);
}

.contact-us-container {
  padding: 28px;
  padding-inline: 44px;
  padding-bottom: 44px;
  max-width: 500px;
  margin: auto;
  color: var(--text-color);
  background-color:var(--background-color);
  margin-top: 28px;
}
.about-us-container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  color: var(--text-color);
  background-color: var(--background-color);
  margin-top: 28px;

}
.value {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

.form input,
textarea {
  max-width: 95%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-button {
  padding: 10px;
  background-color:var(--elements-color);
  color: var(--text-color);
  /* max-width: 100%; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.contact-button:hover {
  background-color: #898989;
}

@media(max-width : 590px)
{
  .value {
    font-size: 13px;
    gap: 10px;
  }
  .about-us-container {
    padding: 20px;
    max-width: 300px;
    margin: auto;
    color: var(--text-color);
    background-color: var(--background-color);
    margin-top: 28px;
    font-size: 13px;
  }

}

@media(max-width : 590px)
{
  .contact-us-container {
    padding: 28px;
    padding-inline: 44px;
    padding-bottom: 44px;
    max-width: 300px;
    margin: auto;
    color: var(--text-color);
    background-color:var(--background-color);
    margin-top: 28px;
  }

  
h1 {
 font-size: 20px;
}

p {
  line-height: 1.6;
  font-size: 12px;
}


form {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}


}

@media(max-height : 710px)
{
  .about-us-container {
    padding:0 25px;
    margin-top: 14px;
  
  }
  .value {
    gap: 10px;
  }
  .about-us-container h1,h2 
  {
    margin: 10;
  }
}