/* Overlay background */
.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); /* bg-black/40 */
    padding-left: 16px; /* px-4 */
    padding-right: 16px;
  
    z-index: 1;
    /* backdrop-filter: blur(14px); */
  }
  
  /* Hidden state */
  .hidden {
    display: none;
  }
  
  /* Modal content box */
  .modal-box {
    max-width: 30rem; /* max-w-lg */
    flex-grow: 1;
    background-color: white;
    border-radius: 12px; /* rounded-lg */
    padding: 20px; /* p-4 */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05); /* shadow-lg */
  }
  
  /* Modal heading */
  .modal-heading {
    font-size: 1.25rem; /* text-xl */
    font-weight: bold;
  }
  
  /* Modal form section */
  .modal-form {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column; /* flex-col */
    flex-wrap: wrap;
    gap: 16px; /* gap-4 */
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    padding-left: 16px; /* px-4 */
    padding-right: 16px;
  }
  
  /* Input fields */
  .modal-input {
    border-radius: 8px; /* rounded */
    border: 1px solid #4b5563; /* border-gray-600 */
    padding: 8px; /* px-2 py-1 */
    max-width: 95%;
    margin-top: 5px;
  }
  
  /* Button container */
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px; /* gap-4 */
  }
  
  /* Cancel button */
  .cancel-button {
    background-color: #3e86f2; /* bg-gray-300 */
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.2s ease;
  }
  
  .cancel-button:hover {
    background-color: rgba(209, 213, 219, 0.8); /* hover:bg-gray-400/80 */
  }
  
  .cancel-button:active {
    background-color: rgba(209, 213, 219, 0.6); /* active:bg-gray-400/60 */
  }
  
  /* Sign In button */
  .signin-button {
    background-color: #3e86f2; /* bg-blue-300 */
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    margin-right: 20px;
    color: white;
  }
  
  .signin-button:hover {
    color: black;
    background-color: rgba(147, 197, 253, 0.8); /* hover:bg-blue-400/80 */
  }
  
  .signin-button:active {
    background-color: rgba(147, 197, 253, 0.6); /* active:bg-blue-400/60 */
  }
  