/* For the overlay (background) */
.modal-overlay-log {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Hidden state */
  .hidden {
    display: none;
  }
  
  /* For the modal box */
  .modal-box-log {
    background-color: white;
    border-radius: 12px;
    flex-grow: 1;
    max-width: 30rem; /* max-w-2xl */
    padding: 21px; /* p-4 */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  }
  
  /* Modal heading */
  .modal-heading {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  /* Modal form section */
  .modal-form {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
  }
  
  .modal-input {
    flex-grow: 1;
    border-radius: 8px;
    border: 1px solid #4b5563; /* border-gray-600 */
    padding: 8px;
  }
  
  /* Button container */
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
  
  /* Cancel button */
  .cancel-button {
    background-color: #3e86f2; /* bg-gray-300 */
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    border-radius: 8px;
    color: white;
    transition: background-color 0.2s ease;
  }
  
  .cancel-button:hover {
    color: black;
    background-color: rgba(147, 197, 253, 0.8); /* hover:bg-blue-400/80 */
  }
  
  .cancel-button:active {
    background-color: rgba(147, 197, 253, 0.6); /* active:bg-blue-400/60 */
  }
  
  /* Login button */
  .login-button {
    background-color: #3e86f2; /* bg-blue-300 */
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    margin-right: 20px;
    color: white;
  }
  
  .login-button:hover {
    color: black;
    background-color: rgba(147, 197, 253, 0.8); /* hover:bg-blue-400/80 */
  }
  
  .login-button:active {
    background-color: rgba(147, 197, 253, 0.6); /* active:bg-blue-400/60 */
  }
  